<div class="page-header">
          <h1>Guardian Lite</h1>
        </div>
        <nav class="main-nav navbar-default navbar">
        <ul class="nav navbar-nav">
          <li ng-class="navClass('section/football')"><a ng-href="#/section/football">All Football</a></li>
          <li ng-class="navClass('section/football/premierleague')"><a ng-href="#/section/football/premierleague">Premier League</a></li>
          <li ng-class="navClass('section/football/laligafootball')"><a ng-href="#/section/football/laligafootball">La Liga</a></li>
          <li ng-class="navClass('section/football/bundesligafootball')"><a ng-href="#/section/football/bundesligafootball">Bundesliga</a></li>
          <li ng-class="navClass('section/football/serieafootball')"><a ng-href="#/section/football/serieafootball">Seria A</a></li>
        </ul>
        </nav>
