<div class="page-header">
          <h1>Guardian Football</h1>
          <h2 ng-bind="pageTitle"></h2>
</div>
  <nav class="navbar navbar-default main-nav" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li ng-click="title('all football')" ng-class="navClass('section/football')"><a ng-href="#/section/football">All Football</a></li>
          <li ng-click="title('Premier League')" ng-class="navClass('section/football/premierleague')"><a ng-href="#/section/football/premierleague">Premier League</a></li>
          <li ng-click="title('La Liga')" ng-class="navClass('section/football/laligafootball')"><a ng-href="#/section/football/laligafootball">La Liga</a></li>
          <li ng-click="title('Bundesliga')" ng-class="navClass('section/football/bundesligafootball')"><a ng-href="#/section/football/bundesligafootball">Bundesliga</a></li>
          <li ng-click="title('seria a')" ng-class="navClass('section/football/serieafootball')"><a ng-href="#/section/football/serieafootball">Seria A</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
